<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Bulma!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>

        <div th:replace="fragments :: navbar"></div>
        <section class="section">
            <div class="columns">
                <div class="column">
                    <form th:action="@{/admin/notes/create}" method="POST" th:object="${noteDto}">
                        <input type="hidden" id="noteDtoId" name="noteDtoId" th:field="*{id}">
                        <input type="hidden" th:if="${status.equals('view')}" id="folderDtoId" name="folderDtoId" th:field="*{folderDto.id}">
                        <div class="field">
                            <label class="label" th:text="#{label.note.title}"></label>
                            <div class="control">
                                <input th:if="${status.equals('save')}"
                                       th:field="*{title}"
                                       class="input"
                                       name="noteTitle"
                                       type="text"
                                       laceholder="Titolo della Nota"
                                       required>
                                <input th:if="${status.equals('edit')}"
                                       th:field="*{title}"
                                       class="input"
                                       name="noteTitle"
                                       type="text"
                                       laceholder="Titolo della Nota"
                                       required
                                       th:value="${noteTitle}">
                                <input th:if="${status.equals('view')}"
                                       th:field="*{title}"
                                       class="input"
                                       name="noteTitle"
                                       type="text"
                                       laceholder="Titolo della Nota"
                                       required
                                       readonly
                                       disabled
                                       th:value="${noteTitle}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" th:text="#{label.note.content}"></label>
                            <div class="control">
                                <textarea class="textarea"
                                          th:field="*{content}"
                                          name="noteContent"
                                          placeholder="Testo della Nota"
                                          required
                                          th:if="${status.equals('save')}"></textarea>
                                <textarea class="textarea"
                                          th:field="*{content}"
                                          name="noteContent"
                                          placeholder="Testo della Nota"
                                          required
                                          th:if="${status.equals('edit')}"
                                          th:text="${noteContent}"></textarea>
                                <textarea class="textarea"
                                          th:field="*{content}"
                                          name="noteContent"
                                          placeholder="Testo della Nota"
                                          required
                                          readonly
                                          disabled
                                          th:if="${status.equals('view')}"
                                          th:text="${noteContent}"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" th:text="#{label.folder}"></label>
                            <div class="control">
                                <div class="select">
                                    <input type="hidden" id="folderS" name="folderS" th:value="${folderId}">
                                    <select name="folderSelected" th:disabled="${status.equals('view')}" th:field="*{folderDto.id}">
                                        <option th:each="folder : ${folders}" th:text="${folder.nameFolder}"
                                                th:value="${folder.id}" th:selected="${folderId == folder.id}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" name="submitStatus"
                                        th:value="${status}" th:disabled="${status.equals('view')}"
                                        th:text="#{button.form.submit}">
                                </button>
                            </div>
                            <div class="control">
                                <button class="button is-link is-light" name="cancel"
                                        value="cancel" formnovalidate
                                        th:text="#{button.cancel}">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>